.form {
  z-index: 2;
  position: relative;
  width: 430px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .form {
    width: 282px;
  }
}
