.pop-up__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 0;
  margin: 34px auto 44px 36px;
  max-width: 330px;
  text-align: start;
}

@media (max-width: 768px) {
  .pop-up__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 75px 22px;
  }
}
