.pop-up {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 430px;
  height: 330px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  padding: 0;
  z-index: 1;
  display: none;
}

@media (max-width: 768px) {
  .pop-up {
    width: 282px;
    height: 322px;
  }
}
