.header {
  max-width: 880px;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding: 45px 0 0 0;
  margin: 0 auto 38px auto;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .header {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 100%;
    height: 56px;
    padding: 28px 0 0 0;
    margin: 0 auto 40px auto;
  }
}
