.pop-up__name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin: 0 auto 0 36px;
  width: 358px;
  height: 27px;
  outline: none;
  border: none;
  color: #000000;
  border-bottom: 1px solid #000000;
}

@media (max-width: 768px) {
  .pop-up__name  {
    width: 238px;
    height: 27px;
    margin: 0 auto 0 22px;
  }
}
