.elements {
  max-width: 880px;
  display: grid;
  padding: 0;
  margin: 50px auto 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 17px;
  row-gap: 20px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elements {
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 768px) {
  .elements {
    grid-template-columns: 1fr;
    margin: 36px auto 0 auto;
    max-width: 282px;
  }
}
