.picture__close-button {
  z-index: 1;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 32px;
  padding: 0;
  width: 32px;
  height: 32px;
  transition: all .1s linear;
  align-self: flex-end;
  justify-self: end;
  margin-bottom: 8px;
}

.picture__close-button {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .picture__close-button {
    margin-bottom: 16px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}
