.picture__close-button {
  z-index: 3;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 32px;
  padding: 0;
  width: 32px;
  height: 32px;
  transition: all .1s linear;
  position: absolute;
  top:-40px;
  right: -40px;
}

.picture__close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .picture__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px;
    top:-36px;
    right: 0;
  }
}
