.element__bin-button {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px;
    padding: 0;
    transition: all .1s linear;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.element__bin-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
