@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-button/_active/element__like-button_active.css);
@import url(../blocks/element/__bin-button/element__bin-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/pop-up/pop-up.css);
@import url(../blocks/pop-up/__title/pop-up__title.css);
@import url(../blocks/pop-up/__name/pop-up__name.css);
@import url(../blocks/pop-up/__description/pop-up__description.css);
@import url(../blocks/pop-up/__save/pop-up__save.css);
@import url(../blocks/background/background.css);
@import url(../blocks/pop-up/__close/pop-up__close.css);
@import url(../blocks/picture/picture.css);
@import url(../blocks/picture/__caption/picture__caption.css);
@import url(../blocks/picture/__figure/picture__figure.css);
@import url(../blocks/picture/__image/picture__image.css);
@import url(../blocks/picture/__close-button/picture__close-button.css);
@import url(../blocks/background/_opened/background_opened.css);