.pop-up__save {
  width: 358px;
  height: 50px;
  padding: 0;
  margin: 48px auto 0 36px;
  background-color: black;
  border: 0;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: all .1s linear;
}

.pop-up__save:hover {
  opacity: 0.8;
  cursor: pointer;
}


@media (max-width: 768px) {
  .pop-up__save {
    width: 238px;
    height: 46px;
    margin: 45px auto 0 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
