.form__error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  max-width: 358px;
  padding-top: 5px;
  margin-left: 36px;
  margin-right: 36px;
}

@media (max-width: 768px) {
  .form__error {
    width: 238px;
    height: 27px;
    margin: 30px 22px 0 22px;
  }
}
